
/* keep an eye on margin-top and botton */

.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
  bottom: -200px;
  /* margin-top: 255px; */
}  

.footer span {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
  position: absolute;
}