.card {
    background-size: cover;
    background-position: center;
    height: 370px;
    width: 400px;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* background-clip: content-box; */
    border: 6px solid white;
}
.card .fa-spinner {
    font-size: 180px;
    position: absolute;
    left: 25%;
    top: 25%;
  }