.hero{
  height: 650px;
  /* width: 1000px; */
  background-size: cover;
  background-position: center;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
.hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }

  .hero * {
    position: relative;
    z-index: 2;
  }
  .hero h1, .hero h2 {
      font-weight: bolder;
      color:white;
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 0;
    margin-top: 0;
  }