nav.navbar.navbar-default {
    margin-bottom: 0;
  }
/* .navbar-nav .nav-item .nav-link .safety-tips {
  color: red;
} */
/* .navbar-light .navbar-nav .nav-item .nav-link .safety-tips {
  color:red;
} */

.navbar-light .navbar-brand{
  padding-top: 8px;
}
.navbar-nav>li>a {
  padding-top: 0;
  color:red;
}